.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.try-again {
	animation: fadeIn 1s ease-in-out 2.5s forwards;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
