.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.try-again {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
