.questions {
	display: flex;
	gap: 20px;
}

.fade-out {
	animation: fadeOut 1s ease-in-out forwards; 
} 

.login-container input {
	min-width: 250px;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container .fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease-in-out 0.6s forwards;
  }


@keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}