.input {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.poems-container .fade-in {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.poems-container input {
	width: 100px;
}

.poems-container p {
	margin-bottom: 0;
}

.emily {
	text-align: left;
	white-space: pre-wrap;
}

.me {
	color: #a64d79;
	text-align: right;
	white-space: pre-wrap;
}

.poem-btn {
	background-color: #a64d79;
	color: white;
}

.poem-btn:focus{
	background-color: #a64d79;
}

.poem-container {
	display: flex;
	flex-direction: row;
}

.btn-div {
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: flex-end;
}

.btn-div button{
	margin: 10px
}

.invalid {
	color:white;
	margin-top: 15px;
}
